* {
      margin: 0;
      padding: 0;
      border: solid black 1px;
}

html {
      width: 100vw;
      height: 100%;
}
body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      #container {
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;

            #displayScreen {
                  width: 80%;
                  height: 40px;
            }
            #inputContainer {
                  width: 80%;
                  height: 60%;
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
                  flex-direction: column;
                  
                  .inpt {
                        width: 300px;
                        height: 40px;
                  }
                  .calculateBtn {
                        width: 40%;
                        height: 50px;
                  }
            }
      }
}