* {
      margin: 0;
      padding: 0;
      /* border: solid black 1px; */
}

html {
      width: 100vw;
      height: 100%;
}
body {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;

      background-color: black;

      #container {
            width: 50%;
            height: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            border-radius: 30px;

            background-color: slategray;



            #displayScreen {
                  width: 80%;
                  height: 40px;
            }
            #inputAndLeverageDisplay {
                  width: 80%;
                  height: 60%;
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
                  
                  .innerContainers {
                        height: 200px;
                        width: 40%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;

                        background-color: darkblue;
                        padding: 20px;
                        .inpt {
                              width: 100%;
                              height: 40px;
                        }
                        .calculateBtn {
                              width: 40%;
                              height: 50px;
                        }

                        .leverage_display {
                              font-size: 20pt;
                        }
                  }
            }
      }
}